---
import Container from "../components/Container";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>web-vocaloid-player</title>
	</head>
	<body>
		<h1>web-vocaloid-player</h1>
		<Container client:load/>

		<footer>
			<a href="https://github.com/shinich39/web-vocaloid-player">Github</a>
		</footer>
	</body>
</html>